/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}
/* --- Variables --- */
body {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6d5c5;
    padding: 0.5em 1em;
    border-bottom: 4px solid black;
}

#logo {
    font-weight: bold;
}

#nav-buttons {
    display: flex;
    align-items: center;
    gap:2em;
}

#nav-buttons button {
    border: none;
    padding: 0 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 1rem; 
}

.main-boxes {
    flex-basis: 30%;
    border: 4px solid black;
    position: relative;
    margin: 1em;
}

.main-boxes p {
    padding: 2em 1em;
}

.more-btn {
    border: 1px solid black;
    padding: 0.8rem 2.5rem;
    position: absolute;
    right: -2rem;
    bottom: -1.8rem;;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    background-color: #d6d5c5;
    font-weight: bold;
    padding: 0.5em 0;
}

.footer-title {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 280px;
    text-align: center;
}